<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <!-- no hace falta poner public delante de /styles, mirar app.js   -->
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
            <li><a href="/views/about">About</a></li>
            <li><a href="/views/works">Works</a></li>
            <li><a href="/views/photo-gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="home-title">
        <h1>José Mujica</h1>
        <h2>(José Alberto Mujica Cordano)</h2>
        <img class= "home-image" src="/images/mujicablanconegro.jpeg" alt="Mujica B&W">
    </div>
    <div class="home-text">
        <p>
            José Alberto Mujica Cordano (Montevideo, 20 de mayo de 1935), también conocido como Pepe Mujica, es un político uruguayo. Fue el 40.º presidente de Uruguay entre 2010 y 2015.1​

Integró el Movimiento de Liberación Nacional-Tupamaros, del cual fue elegido diputado y senador, para posteriormente ocupar el cargo de ministro de Ganadería, Agricultura y Pesca entre 2005 y 2008. Después de ocupar la Presidencia, fue elegido senador nuevamente, en las elecciones de 2014 y en las de 2019. Renunció a este último cargo el 20 de octubre de 2020, retirándose de la actividad política para dedicarse a la militancia popular. En la actualidad es el líder del Movimiento de Participación Popular, sector mayoritario del partido de izquierda Frente Amplio.2​3​

Desde 2005 está casado con Lucía Topolansky, dirigente histórica del Movimiento de Participación Popular y además vicepresidenta de Uruguay entre 2017 y 2020.4​
        </p>
    </div>
</body>
</html>